<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul>
	        {% for link in site.links %}
			<li>
				{% if link.external %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				{% else %}
					<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
				{% endif %} 
			</li>
	        {% endfor %}
		<li><a href="{{ site.url }}/" Title="Home"><i class="icon-home icon-2x"></i></a></li>
		<li><a href="{{ site.url }}/about" Title="About"><i class="icon-info-sign icon-2x"></i></a></li>
		{% if site.owner.twitter %}<li><a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="icon-twitter icon-2x"></i></a></li>{% endif %}
		{% if site.owner.facebook %}<li><a href="http://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="icon-facebook"></i></a></li>{% endif %}
		{% if site.owner.google_plus %}<li><a href="http://plus.google.com/{{ site.owner.google_plus }}" title="{{ site.owner.name}} on Google+" target="_blank"><i class="icon-google-plus icon-2x"></i></a></li>{% endif %}
		{% if site.owner.linkedin %}<li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="icon-linkedin icon-2x"></i></a></li>{% endif %}
		{% if site.owner.stackexchange %}<li><a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange" target="_blank"><i class="icon-stackexchange icon-2x"></i></a></li>{% endif %}
		{% if site.owner.instagram %}<li><a href="http://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="icon-instagram icon-2x"></i></a></li>{% endif %}
		{% if site.owner.flickr %}<li><a href="http://www.flickr.com/photos/{{ site.owner.flickr }}" title="{{ site.owner.name}} on Flickr" target="_blank"><i class="icon-flickr icon-2x"></i></a></li>{% endif %}
		{% if site.owner.github %}<li><a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="icon-github icon-2x"></i></a></li>{% endif %}
		{% if site.owner.tumblr %}<li><a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="icon-tumblr icon-2x"></i></a></li>{% endif %}
		{% if site.owner.email %}<li><a href="mailto:{{ site.owner.email}}" title="Email {{ site.owner.name}}" target="_blank"><i class="icon-envelope icon-2x"></i></a></li>{% endif %}
		<li><a href="{{ site.url }}/feed.xml" title="Atom/RSS Feed"><i class="icon-rss icon-2x"></i></a></li>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->
{% if page.image.feature %}<header class="masthead" itemscope itemtype="http://schema.org/Organization">
	<div class="wrap">
		<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}" itemprop="url"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown" itemprop="logo"></a>
	</div>
</header><!-- /.masthead -->
{% else %}<header class="masthead" itemscope itemtype="http://schema.org/Organization">
	<div class="wrap">
		<h1 class="site-title animated fadeIn"><a href="{{ site.url }}">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}
