html {
  background-color: #353839;
}

hr {
  display: block;
  height: 1px;
  border-top: 2px solid #b45263;
  margin-left: 25%;
  margin-right: 25%;
}

body {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
  width: 75%;
  background-color: #fff;
  font-family: 'Robot', sans-serif;
  border-top: 3px solid #b45263;
  border-bottom: 3px solid #b45263;
  border-right: 3px solid #b45263;
  border-left: 3px solid #b45263;
}

.container {
  width: auto;
  text-align: center;
}

.container a {
  color: #b45263;
}

.container a:hover {
  color: #56252E;
}

@media all and (max-device-width: 1024px) {
  .img-responsive {
    width: 50%;
  }
}

@media all and (min-device-width: 1025px) {
  .img-responsive {
    width: 20%;
  }
}

.img-responsive {
  display: block;
  height: auto;
  margin-left: auto;
  border-radius: 50%;
  margin-right: auto;
  border: 2px solid #b45263;
}

.social {
  padding-top: 10px;
  word-spacing: 20px;
}

.social a {
  color: #000000;
}

.social a:hover {
  color: #b45263;
}

.avatar {
  padding-top: 15px;
}